<h1 class="big_spacer">Get Wild!</h1> 
<h2 class="spacer">Create a Jungle account!</h2>

  <%= form_for :user, url: '/users', class: 'new_user_form' do |f| %>

    <div class="spacer">First name: <%= f.text_field :first_name %></div>
    <div class="spacer">Last name: <%= f.text_field :last_name %></div>
    <div class="spacer">Email: <%= f.text_field :email %></div>
    <div class="spacer">Password: <%= f.password_field :password %></div>
    <div class="spacer">Password Confirmation: <%= f.password_field :password_confirmation %></div>
    <%= f.submit "Submit", class: 'newuserbutton' %>

  <% end %>

